.footer-right__list, .address__list, .works__list, .filtration__list, .clients-list, .team-cards__list, .team-list, .examples__list, .feature__list, .header-contact, .site-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-right__link, .address__link, .footer-left__logo, .work-overlay__link, .clients-list__link, .team-cards__link, .header-contact__link, .site-nav__link, .site-nav__logo, .form-field__link {
  text-decoration: none;
}

.form-footer__button, .filtration__button, .hero-button, .form-field__button, .modal__button {
  border-radius: 4px;
  border-width: 0;
}

.footer-container, .portfolio-container, .clients-container, .team-container, .examples-container, .feature-container, .header-container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.portfolio__title, .feature__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team__title, .examples__title {
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.footer-left__logo, .site-nav__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-right__link, .team-cards__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.footer-right__icon, .team-cards__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  padding: 94px 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 48px 40px;
  min-width: 528px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%) scale(1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  padding: 0;
  right: 8px;
  top: 8px;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__button:hover, .modal__button .close-btn:focus {
  color: #2196F3;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
  color: #212121;
}

.js-speaker-form {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form-field__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-field__label:not(:last-child) {
  margin-bottom: 4px;
}

.form-field__input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 11px 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-field__input:focus {
  outline: none;
  border-color: #2196F3;
}

.form-field__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 15px;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.form-field--comm {
  margin-bottom: 20px;
}

textarea {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  margin: 0;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
textarea:focus {
  border-color: #2196F3;
  outline: none;
}

.form-field__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field--term {
  margin-bottom: 30px;
}

.form-field__label--term {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
}

.form-field__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.form-field__icon--check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.form-field__checkbox:checked + .form-field__icon--check {
  background-image: url(../images/icons/term.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2196F3;
  background-origin: border-box;
  border-color: #2196F3;
}

.form-field__link {
  margin-left: 4px;
  color: rgb(33, 150, 243);
}

.form-field__button {
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  text-align: center;
  min-width: 216px;
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.form .form-field__button:focus, .form .form-field__button:hover {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-input:focus ~ .modal-icon {
  fill: #2196F3;
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__logo {
  margin-right: 92px;
  color: #000000;
}

.site-nav__span {
  color: #2196F3;
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 32px 0;
  position: relative;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link--current {
  color: #2196F3;
}
.site-nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #2196F3;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  width: 100%;
}

.header-contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-contact__item:not(:first-child) {
  margin-left: 50px;
}

.header-contact__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-contact__link:hover, .header-contact__link:focus {
  color: #2196F3;
}

.header-contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding: 200px 0;
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-1.jpg);
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero-button:focus, .hero-button:hover {
  background-color: #188CE8;
}

.feature-container {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.feature__list {
  display: flex;
}

.feature-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature__item {
  width: 270px;
}
.feature__item:not(:first-child) {
  margin-left: 30px;
}

.feature__subtitle {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature__text {
  line-height: 1.71;
}

.examples {
  padding-top: 0;
}

.examples__list {
  display: flex;
  padding-bottom: 0;
  margin-right: 0;
}

.examples__item {
  position: relative;
}
.examples__item:not(:first-child) {
  margin-left: 30px;
}

.examples__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
}

.team-list {
  display: flex;
  padding-bottom: 0;
  align-items: center;
  margin: 0 auto;
}

.team-list__main {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  min-height: 368px;
}
.team-list__main:not(:first-child) {
  margin-left: 30px;
}

.team-cards {
  padding: 30px 0;
}

.team-cards__subtitle {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-cards__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.team-cards__list {
  display: flex;
  justify-content: center;
}

.team-cards__item:not(:last-child) {
  margin-right: 10px;
}

.team-cards__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-cards__link:hover, .team-cards__link .team .social-link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-list__item:not(:first-child) {
  margin-left: 30px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #AFB1B8;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.filtration__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.filtration__button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  background-color: #F5F4FA;
  color: #212121;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
}
.filtration__button:hover, .filtration__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filtration__button--current {
  background-color: #2196F3;
  color: #FFFFFF;
}

.filtration__item:not(:first-child) {
  margin-left: 8px;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.works-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
  min-height: 404px;
  max-width: 370px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.works-list__item:nth-child(3n) {
  margin-right: 0;
}
.works-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.work-overlay__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.work-overlay__link:hover, .work-overlay__link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work-description {
  position: relative;
  overflow: hidden;
}

.work-overlay__description {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  /* opacity: 1; */
  transform: translateY(101%);
}
.work-overlay:hover .work-overlay__description, .work-overlay:focus .work-overlay__description {
  transform: translateY(0);
}

.work-overlay__text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
}

.work-cards {
  padding: 20px 24px;
}

.work-cards__title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-cards__text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left__logo {
  margin-bottom: 20px;
  display: block;
  color: #FFFFFF;
}

.footer-left__span {
  color: #2196F3;
}

.address__item:not(last-child) {
  margin-bottom: 9px;
}

.address__link {
  display: block;
  color: #FFFFFF;
  line-height: 1.71;
  font-style: normal;
}

.address__link--add {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
}
.address__link--add:hover, .address__link--add:focus {
  color: #2196F3;
}

.footer-right__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
}

.footer-right__list {
  display: flex;
}

.footer-right__item:not(:last-child) {
  margin-right: 10px;
}

.footer-right__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-right__link:hover, .footer-right__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.footer-right__icon {
  fill: #FFFFFF;
}

.form-footer {
  display: flex;
}

.footer-subscribe__text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form-footer__input {
  transition: #ECECEC 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 358px;
  margin: 0;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  color: #FFFFFF;
}
.form-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.15;
}

.form-footer__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  margin: 0;
  padding: 8px 29px;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-height: 43px;
  margin-left: 12px;
}
.form-footer__button:hover, .form-footer__button:focus {
  background-color: #188CE8;
}
.form-footer__button::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../images/icons/send.svg);
}/*# sourceMappingURL=main.css.map */