.clients-container {
    @include container();
}

.clients {
    &__title {
        @include title();
    }

    &-list {
        @include flexWrap();

        justify-content: center;

        &__item {
            @media screen and (max-width:480px ) {
                width: calc( ( 100% - 30px ) / 2 );
            }
        }

        &__link {
            @include transitionBack(border, color);
            @include centeredFlex();

            color: $clients-border;
            height: 92px;
            border: 1px solid $clients-border;
            border-radius: 4px;

            @media screen and (min-width:480px ) {
                width: 210px;
            }

            @media screen and (min-width:768px ) {
              width: 226px;
            }

            @media screen and (min-width:1200px ) {
              width: 170px;
            }

            &:hover, &:focus {
                border-color: $accent-color;
                color: $accent-color;
            }
        }

        &__icon {
            width: 106px;
            height: 60px;
            fill: currentColor;
        }
    }
}
