.team {
    background-color: $secondary-bg-color;
}

.team-container {
    @include container();
}

.team {
    &__title {
        @include title();
    }

    &-list {
        @include flexWrap();
        justify-content: center;

        &__main {
            display: inline-block;

            background-color: $white-color;
            box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
            border-radius: 0px 0px 4px 4px;
        }
    }

    &__img {
        @media screen and (max-width: 480px) {
            max-width: 100%;
            height: auto;
        }
    }

    &-cards {
        padding-top: 30px;
        padding-bottom: 24px;

        @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
        }

        &__subtitle {
            @include fontPreset(500, 16px, 19px, 0.03em);
            margin-bottom: 10px;
            text-align: center;
        
            color: $title-text-color;
        }

        &__position {
            margin-bottom: 16px;
            text-align: center;

            font-size: 16px;
            line-height: 1.19;
        }

        &__list {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        &__link {
            @extend %social-link;
            @include transitionBack();

            &:hover, .team .social-link:focus {
            color: $white-color;
            background-color: $accent-color;
            }
        }

        &__icon {
            @extend %social-icon;
        }
    }
}

